{%- liquid 
  assign image = article_image
  assign text = article_text
  assign link = article_link

  assign first_char = link.url | slice: 0, 1 
  assign is_external_link = 'target="_blank"'
  if link.url contains shop.domain or first_char == "/"
    assign is_external_link = ''
  endif
  if link.url contains ".pdf"
    assign is_external_link = 'target="_blank"'
  endif
-%}

<article class="ings-h-article">
  {%- if link != blank -%}
    <a href="{{ link.url }}" class="ings-h-article-image-wrap" target="_blank">
  {%- else -%}
    <div class="ings-h-article-image-wrap">
  {%- endif -%}

    {%- if image != blank -%}
      <img class="ings-h-article-image" src="{{ image | image_url }}" alt="{{ image.alt }}" loading="lazy">
    {%- endif -%}

  {%- if link != blank -%}
    </a>
  {%- else -%}
    </div>
  {%- endif -%}

  <li class="ings-h-article-text">
    {%- if link != blank -%}
      <a href="{{ link.url }}" target="_blank">
    {%- endif -%}
      {{ text }}
    {%- if link != blank -%}
      </a>
    {%- endif -%}
  </li>
</article>