{%- comment -%}theme-check-disable RemoteAsset, UnknownFilter{%- endcomment -%}

<div class="main-product-carousel">
  <div class="main-product-carousel-wrapper swiper-wrapper">
    {% for media in product.media %}
      {%- liquid 
        assign media_type = media.media_type
        assign media_id = media.id
        assign index = forloop.index
        assign fetch_priority = "low"
        assign preload = false
        assign loading = "eager"
    
        if index == 1
          assign preload = true
          assign fetch_priority = "high"
        else
          assign loading = "lazy"
        endif
      -%}
      
      <div class="main-product-media-slide swiper-slide" data-media-id="{{- media_id -}}" data-index="{{- forloop.index0 -}}">
        <div class="main-product-media-item product-media-type-{{- media_type }} js-popup-trigger" data-media-id="{{- media_id -}}" data-index="{{- forloop.index0 -}}">
          {%- if media_type == 'image' -%}
            {{- media | image_url: width: 800 | image_tag: class: "main-product-image main-product-media no-touch", alt: media.alt, height: nil, srcset: nil, fetchpriority: fetch_priority, preload: preload, loading: loading, data-media-id: media.id -}}
          {%- endif -%}
      
          {%- comment -%} Video MP4 {%- endcomment -%}
          {%- if media_type == 'video' -%}
            {{- media | video_tag: class: "main-product-video main-product-media", id: media_id, image_size: '683x', preload: "none", loop: true, muted: true, controls: true, disablepictureinpicture: true, playsinline: true, controlsList: "nofullscreen nodownload noremoteplayback noplaybackrate", data-media-id: media.id -}}
          {%- endif -%}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="main-product-carousel-pagination swiper-pagination"></div>
</div>


<div class="product-popup">
	<div class="product-popup-content">
		<button class="product-popup-close-button js-popup-trigger" type="button" role="button" aria-label="Close">
			{%- render 'icon', icon: "close" -%}
		</button>
    <div class="product-popup-carousel-wrapper">
      <div class="product-popup-carousel swiper" data-slides="{{- product.media | size -}}">
        <div class="swiper-wrapper">
          {%- for media in product.media -%}
            {%- assign type = media.media_type -%}
  
            <div class="product-popup-slide swiper-slide type-{{- type -}}" data-media-type="{{- type -}}" data-media-id="{{ media.id }}">
              {%- if type == 'image' -%}
                <picture class="product-popup-media-wrapper">
                  <img class="product-popup-media product-popup-image" data-src="{{- media | image_url: width: 700 -}}" alt="{{- media.alt -}}">
                </picture>
              {%- endif -%}
  
              {%- if type == 'video' -%}
                <div class="product-popup-media-wrapper">
                  <video class="product-popup-media product-popup-video" preload="none" poster="{{- media.preview_image | image_url: height: 500 -}}" controlsList="nofullscreen nodownload noremoteplayback noplaybackrate" loop muted playsinline disablepictureinpicture controls webkit-playsinline x5-playsinline>
                    {% for source in media.sources %}
                      <source src="{{ source.url }}" type="video/{{ source.format }}">
                    {% endfor %}
                  </video>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
      <button class="product-popup-button swiper-button prev" type="button" role="button" aria-label="Previous">
        {%- render "icon", icon: "arrow-prev" -%}
      </button>
      <button class="product-popup-button swiper-button next" type="button" role="button" aria-label="Next">
        {%- render "icon", icon: "arrow-next" -%}
      </button>
    </div>
	</div>
</div>
