{% form 'customer', class: 'newsletter-form section-newsletter-form', id: form_id %} 
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="newsletter-form-content">
    <input
      class="newsletter-form-input"
      id="NewsletterForm--{{ section.id }}"
      type="email"
      name="contact[email]"
      value="{{ form.email }}"
      aria-required="true"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email"
      placeholder="Correo electrónico"
      required
      {% if form.errors %}
        autofocusaria-invalid="true"
        aria-describedby="Newsletter-error--{{ section.id }}"
      {% elsif form.posted_successfully? %}
        aria-describedby="Newsletter-success--{{ section.id }}"
      {% endif %}
    >
    <div class="newsletter-form-button-wrapper">
      <button class="newsletter-form-button button rounded" type="submit" name="commit">
        {{- 'Enviar' -}}
        {%- render 'icon', icon: 'arrow-next' -%}
      </button>
    </div>
  </div>
  <div class="newsletter-form-alerts">
    {%- if form.errors -%}
      <small class="contact__field-error page-text" id="Newsletter-error--{{ section.id }}">
        <span class="form__message">{% render 'icon', icon: 'error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
      </small>
    {%- endif -%}
    {%- if form.posted_successfully? -%}
      <p class="newsletter-form-success page-text secondary-font-bold" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
        {{ 'newsletter.success' | t }}
      </p>
    {%- endif -%}
  </div>
{% endform %}