{%- liquid 
  assign image = block.settings.image
  assign text = block.settings.text
  assign author = block.settings.author
-%}

<div class="testimonial swiper-slide">
  <div class="testimonial-content text-center">

    <div class="testimonial-image-wrapper square-image image-cover">
      {%- unless image == blank -%}
        <img class="testimonial-image" src="{{- image | image_url: width: 500 -}}" alt="{{- image.alt -}}">
      {%- endunless -%}
    </div>

    <img class="testimonial-stars" src="{{- 'icon-testimonials-stars.svg' | asset_url -}}" alt="5 estrellas">

    {%- unless text == blank -%}
      <p class="testimonial-text">{{- text -}}</p>
    {%- endunless -%}
    
    {%- unless author == blank -%}
      <p class="testimonial-author">{{- author -}}</p>
    {%- endunless -%}
  </div>
</div>