<section class="page">
  <article class="page-content">
    <header class="page-header">
      <h1 class="page-title">
        {{ 'customer.activate_account.title' | t }}
      </h1>
    </header>
    <div class="text-center">
      <p class="page-text page-text-fit">
        {{ 'customer.activate_account.subtext' | t }}
      </p>
    </div>
    {%- form 'activate_customer_password', class: 'form customer-form with-margin' -%}
      {%- if form.errors -%}
        <div class="contact__field-error error-message page-text">
          <h2 tabindex="-1" autofocus>
            <span class="form__message">
              {% render 'icon', icon: 'error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </span>
          </h2>
          <div class="form__message errors">
            <ul>
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <span>
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </span>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endif -%}
  
      <div class="form-field">     
        <label for="password" class="form-label">
          {{ 'customer.activate_account.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          class="form-input"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
        >
        {%- if form.errors contains 'password' -%}
          <small id="password-error" class="contact__field-error page-text">
            <div class="form__message">
              {% render 'icon', icon: 'error' %}
              {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
            </div>
          </small>
        {%- endif -%}
      </div>
  
      <div class="form-field">     
        <label for="password_confirmation" class="form-label">
          {{ 'customer.activate_account.password_confirm' | t }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          class="form-input"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
        >
        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="contact__field-error page-text">
            <div class="form__message">
              {% render 'icon', icon: 'error' %}
              {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
            </div>
          </small>
        {%- endif -%}
      </div>

      <div class="buttons-column center button-with-margin">
        <button class="button">
          {{ 'customer.activate_account.submit' | t }}
        </button>
        <div class="button-container customer-secondary-button-wrapper">
          <button class="customer-secondary-button" name="decline">
            {{ 'customer.activate_account.cancel' | t }}
          </button>
        </div>
      </div>
    {%- endform -%}
  </article>
</section>
