{%- liquid 
  assign image = section.settings.image
  assign title = section.settings.title
  assign text_1 = section.settings.text_1
  assign text_2 = section.settings.text_2
-%}

{{- "css-page-about-us-iwt-left-blue.css" | asset_url | stylesheet_tag -}}

<div class="pau-iwt-left-container" data-section-id="{{ section.id }}" data-section-type="section-pau-iwt-right">

  <div class="pau-iwt-left-content">

    <div class="pau-iwt-left-info">

      {%- if title != blank -%}
        <header class="pau-iwt-left-info-title-wrapper">
          <h2 class="pau-iwt-left-info-title section-title-richtext">{{ title }}</h2>
        </header>
      {%- endif -%}

      {%- if text_1 != blank -%}
        <div class="pau-iwt-left-info-text-wrapper text-1">
          <p class="pau-iwt-left-info-text">{{ text_1 }}</p>
        </div>
      {%- endif -%}

      {%- if text_2 != blank -%}
        <div class="pau-iwt-left-info-text-wrapper text-2">
          <p class="pau-iwt-left-info-text">{{ text_2 }}</p>
        </div>
      {%- endif -%}

    </div>

    <div class="pau-iwt-left-image-side">
      <div class="pau-iwt-left-image-super-wrapper">
        <div class="pau-iwt-left-image-wrapper back-img-wrapper {% if image == blank %}no-image{% endif %}">
          {%- if image != blank -%}
            <picture class="picture-wrapper">
              <source media="(max-width: 680px)" srcset="{{ image | image_url: width: 780 }}">
              <img class="pau-iwt-left-image back-img" alt="{{ image.alt }}" loading="lazy" src="{{ image | image_url: width: 700 }}">
            </picture>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

</div>

{%- schema -%}
  {
    "name": "Nosotros - IWT (L)",
    "tag": "section",
    "class": "pau-iwt-left",
    "settings": [
      {
        "type": "header",
        "content": "Imagen"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      },
      {
        "type": "header",
        "content": "Contenido"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "text",
        "id": "text_1",
        "label": "Texto 1"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Texto 2"
      }
    ],
    "presets": [
      {
        "name": "Nosotros - IWT (L)",
        "category": "About us"
      }
    ]
  }
{% endschema %}
