{{- "css-page-hallazgos-tabs.css" | asset_url | stylesheet_tag -}}
<script defer src="{{- 'js-page-hallazgos-tabs.js' | asset_url -}}"></script>
{{- 'css-image-with-form.css' | asset_url | stylesheet_tag -}}
{{- "css-page-about-us-cards-with-icons.css" | asset_url | stylesheet_tag -}}
<script defer src="{{- 'js-page-about-us-cards-with-icons.js' | asset_url -}}"></script>

{%- liquid 
	assign title = section.settings.title
	assign text = section.settings.text
	assign image = section.settings.image
	assign form_title = section.settings.form_title
-%}

{%- liquid 
  assign section_title = section.settings.title
  assign section_text = section.settings.text
  assign blocks_size = section.blocks | size
-%}

{%- liquid 
  assign title_1 = section.settings.title_1
  assign title = section.settings.title
  assign text = section.settings.text
-%}

<div class="ings-h" data-section-id="{{- section.id -}}" data-section-type="page-hallazgos-tabs">

  <div class="ings-h-section-head">
    <h1 class="ings-h-main-title">{{ section_title }}</h1>
    <div class="ings-h-main-text">{{ section_text }}</div>
  </div>

  {%- if blocks_size > 0 -%}


    <div class="ings-h-tabs">
      <div class="ings-h-tabs-carousel-wrapper">
        <div class="ings-h-tabs-carousel swiper" data-slides="{{- blocks_size -}}">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {%- assign title = block.settings.title -%}
              {%- assign block_id = title | handleize | append: "-" | append: block.id -%}

              {%- if title != blank -%}
                <div class="ings-h-tab swiper-slide">
                  <button class="ings-h-tab-button" data-block="{{- block_id -}}" role="tab" type="button">
                    <div class="ings-h-tab-button-content">
                      <span class="ings-h-tab-title">{{- title -}}</span>
                    </div>
                  </button>
                </div>
              {%- endif -%}

            {%- endfor -%}
          </div>
        </div>
        <button class="ings-h-tabs-swiper-button swiper-button prev">
          {%- render "icon", icon: "arrow-prev-rounded" -%}
        </button>
        <button class="ings-h-tabs-swiper-button swiper-button next">
          {%- render "icon", icon: "arrow-next-rounded" -%}
        </button>
      </div>
    </div>

    <div class="ings-h-blocks">
      {%- for block in section.blocks -%}
        {%- liquid 
          assign sections_quantity = block.settings.sections_quantity
          assign title = block.settings.title
          assign section_title = block.settings.section_title
          assign block_id = title | handleize | append: "-" | append: block.id
        -%}

        <div class="ings-h-block" data-block="{{- block_id -}}" data-sections-quantity="{{ sections_quantity }}">
          <div class="ings-h-article-list">
            <div class="ings-h-header">
              <img src="https://cdn.shopify.com/s/files/1/0272/7218/3945/files/path212.png?v=1740654179" class="ings-h-deco-img">
              <h2 class="ings-h-title"> {{ block.settings.title }}</h2>
              <img src="https://cdn.shopify.com/s/files/1/0272/7218/3945/files/path21.png?v=1740654179" class="ings-h-deco-img">
            </div>
            <div class="ings-h-main-div-description">

              <div class="ings-h-div-description">

              <p class="ings-h-description"> {{ block.settings.tab_description }}</p>

              </div>

            </div>
            <div class="ings-h-main-grid-articles">
              <h2 class="ings-h-title"> {{ block.settings.articles_heading }}</h2>
              <div class="ings-h-grid-articles">
                {%- if block.settings.article_img_1 != blank or block.settings.article_text_1 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_1, article_text: block.settings.article_text_1, article_link: block.settings.article_link_1 %}
                {%- endif -%}
                {%- if block.settings.article_img_2 != blank or block.settings.article_text_2 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_2, article_text: block.settings.article_text_2, article_link: block.settings.article_link_2 %}
                {%- endif -%}
                {%- if block.settings.article_img_3 != blank or block.settings.article_text_3 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_3, article_text: block.settings.article_text_3, article_link: block.settings.article_link_3 %}
                {%- endif -%}
                {%- if block.settings.article_img_4 != blank or block.settings.article_text_4 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_4, article_text: block.settings.article_text_4, article_link: block.settings.article_link_4 %}
                {%- endif -%}
                {%- if block.settings.article_img_5 != blank or block.settings.article_text_5 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_5, article_text: block.settings.article_text_5, article_link: block.settings.article_link_5 %}
                {%- endif -%}
                {%- if block.settings.article_img_6 != blank or block.settings.article_text_6 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_6, article_text: block.settings.article_text_6, article_link: block.settings.article_link_6 %}
                {%- endif -%}
                {%- if block.settings.article_img_7 != blank or block.settings.article_text_7 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_7, article_text: block.settings.article_text_7, article_link: block.settings.article_link_7 %}
                {%- endif -%}
                {%- if block.settings.article_img_8 != blank or block.settings.article_text_8 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_8, article_text: block.settings.article_text_8, article_link: block.settings.article_link_8 %}
                {%- endif -%}
                {%- if block.settings.article_img_9 != blank or block.settings.article_text_9 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_9, article_text: block.settings.article_text_9, article_link: block.settings.article_link_9 %}
                {%- endif -%}
                {%- if block.settings.article_img_10 != blank or block.settings.article_text_10 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_10, article_text: block.settings.article_text_10, article_link: block.settings.article_link_10 %}
                {%- endif -%}
                {%- if block.settings.article_img_11 != blank or block.settings.article_text_11 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_11, article_text: block.settings.article_text_11, article_link: block.settings.article_link_11 %}
                {%- endif -%}
                {%- if block.settings.article_img_12 != blank or block.settings.article_text_12 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_12, article_text: block.settings.article_text_12, article_link: block.settings.article_link_12 %}
                {%- endif -%}
                {%- if block.settings.article_img_13 != blank or block.settings.article_text_13 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_13, article_text: block.settings.article_text_13, article_link: block.settings.article_link_13 %}
                {%- endif -%}
                {%- if block.settings.article_img_14 != blank or block.settings.article_text_14 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_14, article_text: block.settings.article_text_14, article_link: block.settings.article_link_14 %}
                {%- endif -%}
                {%- if block.settings.article_img_15 != blank or block.settings.article_text_15 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_15, article_text: block.settings.article_text_15, article_link: block.settings.article_link_15 %}
                {%- endif -%}
                {%- if block.settings.article_img_16 != blank or block.settings.article_text_16 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_16, article_text: block.settings.article_text_16, article_link: block.settings.article_link_16 %}
                {%- endif -%}
                {%- if block.settings.article_img_17 != blank or block.settings.article_text_17 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_17, article_text: block.settings.article_text_17, article_link: block.settings.article_link_17 %}
                {%- endif -%}
                {%- if block.settings.article_img_18 != blank or block.settings.article_text_18 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_18, article_text: block.settings.article_text_18, article_link: block.settings.article_link_18 %}
                {%- endif -%}
                {%- if block.settings.article_img_19 != blank or block.settings.article_text_19 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_19, article_text: block.settings.article_text_19, article_link: block.settings.article_link_19 %}
                {%- endif -%}
                {%- if block.settings.article_img_20 != blank or block.settings.article_text_20 != blank -%}
                  {% render 'article-tab-content', article_image: block.settings.article_img_20, article_text: block.settings.article_text_20, article_link: block.settings.article_link_20 %}
                {%- endif -%}
                </div>
              </div>
              {%- if block.settings.form_check != blank -%}            
              {% render 'article-tab-content', article_image: block.settings.article_img_20, article_text: block.settings.article_text_20, article_link: block.settings.article_link_20 %}
              <div class="iwf section" data-section-id="{{- section.id -}}" data-section-type="iwf">
              	{%- if block.settings.title != blank or text != blank -%}
              		<div class="iwf-content-wrapper">
              			<div class="iwf-content section-content text-center">
              				{%- unless block.settings.form_title_text == blank -%}
              					<header class="iwf-title-wrapper" data-aos="fade-up">
              						<h2 class="iwf-title section-title-richtext color-green">{{ block.settings.form_title_text }}</h2>
              					</header>
              				{%- endunless -%}
              				{%- unless block.settings.text_form == blank -%}
              					<p class="iwf-text section-title-richtext color-green" data-aos="fade-up">{{ block.settings.text_form }}</p>
              				{%- endunless -%}
              			</div>
              		</div>
              	{%- endif -%}
              	<div class="iwf-grid">
              		<div class="iwf-image-wrapper iwf-image-wrapper-form">
                      <div class="iwf-form-wrapper iwf-form-wrapper-form">
              			<div class="iwf-form">
              				{%- unless block.settings.form_title == blank -%}
                              {% if block.settings.form_title_url_1 %}
                                <a href="{{ block.settings.form_title_url_1 }}" target="_blank">
                                  <p class="iwf-form-title color-green secondary-font-bold" style="text-decoration:underline;">{{- block.settings.form_title -}}</p>
                                </a>
                              {% else %}
                                <p class="iwf-form-title color-green secondary-font-bold">{{- block.settings.form_title -}}</p>
                              {% endif %}

              				{%- endunless -%}
                          {% comment %}
              				<div class="iwf-klaviyo-form">
              					<div class="recetario-form klaviyo-form-YsGdVL" id="recetario-form"></div>
              				</div>
                          {% endcomment %}
              			</div>
                        
              		</div>
              			{%- unless block.settings.image == blank -%}
                      <a href="{{ block.settings.form_title_url_1 }}" title="¡Lo quiero!">
              				<img src="{{ block.settings.image | image_url: width: 800 }}" alt="{{ block.settings.image.alt }}" class="iwf-image iwf-image-form"></a>
              			{%- endunless -%}
                      <a class="button iwf-form-button" href="{{ block.settings.form_title_url_1 }}" title="¡Lo quiero!">¡Lo quiero!</a>
              		</div> 
              		<div class="iwf-image-wrapper iwf-image-wrapper-form" style="background-image:url('https://cdn.shopify.com/s/files/1/0272/7218/3945/files/rect21.png?v=1742916073');background-size:contain;background-repeat:no-repeat;background-position:center;">
                      <div class="iwf-form-wrapper iwf-form-wrapper-form">
              			<div class="iwf-form">
              				{%- unless block.settings.form_title == blank -%}
                              {% if block.settings.form_title_url_2 %}
                                <a href="{{ block.settings.form_title_url_2 }}" target="_blank">
                                  <p class="iwf-form-title color-green secondary-font-bold" style="text-decoration:underline;">De 1 año en adelante</p>
                                </a>
                              {% else %}
                                <p class="iwf-form-title color-green secondary-font-bold">De 1 año en adelante</p>
                              {% endif %}

              				{%- endunless -%}
                          {% comment %}
              				<div class="iwf-klaviyo-form">
              					<div class="recetario-form klaviyo-form-YsGdVL" id="recetario-form"></div>
              				</div>
                          {% endcomment %}
              			</div>
                        
              		</div>
              			{%- unless block.settings.image == blank -%}
                       <a href="{{ block.settings.form_title_url_2 }}" title="¡Lo quiero!">
              				<img src="https://cdn.shopify.com/s/files/1/0272/7218/3945/files/Recetario.png?v=1742911391" alt="{{ block.settings.image.alt }}" class="iwf-image iwf-image-form"></a>
                      <a href="{{ block.settings.form_title_url_2 }}" class="button iwf-form-button">¡Lo quiero!</a>
              			{%- endunless -%}
                     
              		</div>
              	</div>
              </div>
              {%- endif -%}

            
{%- if block.settings.tabs_check != blank -%}            
  <div class="pau-cwi-container" data-section-id="template--17922005729417__page_about_us_cards_with_icons_fB8BYY" data-section-type="pau-cards-with-icons">
    <div class="pau-cwi-content">
      <div class="pau-cwi-header">
        <header class="pau-cwi-header-title-wrapper">
          <h2 class="pau-cwi-header-title section-title-richtext">{{ block.settings.title_tabs }}</h2>
        </header>
        <div class="pau-cwi-header-text-wrapper">
          <p class="pau-cwi-header-text">{{ block.settings.text_tabs }}</p>
        </div>
      </div>

      <div class="pau-cwi-items">

        <!-- Casilla 1 -->
        {% if block.settings.tabs1_url != blank %}
          <a href="{{ block.settings.card_url_1 }}" target="_blank" style="display:flex;align-items:center;flex-direction:column;width:calc(var(--total-percent-item-width) / var(--columns));"> 
            <div class="pau-cwi-item" style="height: 283.5px;">
              <div class="pau-cwi-item-image-wrapper back-img-wrapper">
                <picture class="picture-wrapper">
                  <img class="back-img pau-cwi-item-image" alt="" loading="lazy" src="{{ block.settings.card_logo_1 | image_url }}">
                </picture>
              </div>
              <div class="pau-cwi-item-title-wrapper">
                <h3 class="pau-cwi-item-title" style="text-decoration:underline;">{{ block.settings.card_title_1 }}</h3>
              </div>
            </div>
          </a>
        {% elsif block.settings.tabs1_url_background != blank %}
          <a href="{{ block.settings.card_url_1 }}" target="_blank" style="display:flex;align-items:center;flex-direction:column;width:calc(var(--total-percent-item-width) / var(--columns));"> 
            <div class="pau-cwi-item" style="height: 283.5px; background-image: url('{{ block.settings.card_logo_1 | image_url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;padding:0 !important;justify-content:end;">
              <div class="pau-cwi-item-title-wrapper_background">
                <h3 class="pau-cwi-item-title" style="text-decoration:underline;color:white !important;" sty>{{ block.settings.card_title_1 }}</h3>
              </div>
            </div>
          </a>
        {% else %}
          <div class="pau-cwi-item">
            <div class="pau-cwi-item-image-wrapper back-img-wrapper">
              <picture class="picture-wrapper">
                <img class="back-img pau-cwi-item-image" alt="" loading="lazy" src="{{ block.settings.card_logo_1 | image_url }}">
              </picture>
            </div>
            <div class="pau-cwi-item-title-wrapper">
              <h3 class="pau-cwi-item-title">{{ block.settings.card_title_1 }}</h3>
            </div>
          </div>
        {% endif %}

        <!-- Casilla 2 -->
        {% if block.settings.tabs2_url != blank %}
          <a href="{{ block.settings.card_url_2 }}" target="_blank" style="display:flex;align-items:center;flex-direction:column;width:calc(var(--total-percent-item-width) / var(--columns));"> 
            <div class="pau-cwi-item" style="height: 283.5px;">
              <div class="pau-cwi-item-image-wrapper back-img-wrapper">
                <picture class="picture-wrapper">
                  <img class="back-img pau-cwi-item-image" alt="" loading="lazy" src="{{ block.settings.card_logo_2 | image_url }}">
                </picture>
              </div>
              <div class="pau-cwi-item-title-wrapper">
                <h3 class="pau-cwi-item-title" style="text-decoration:underline;">{{ block.settings.card_title_2 }}</h3>
              </div>
            </div>
          </a>
        {% elsif block.settings.tabs2_url_background != blank %}
          <a href="{{ block.settings.card_url_2 }}" target="_blank" style="display:flex;align-items:center;flex-direction:column;width:calc(var(--total-percent-item-width) / var(--columns));"> 
            <div class="pau-cwi-item" style="height: 283.5px; background-image: url('{{ block.settings.card_logo_2 | image_url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;padding:0 !important;justify-content:end;">
              <div class="pau-cwi-item-title-wrapper_background">
                <h3 class="pau-cwi-item-title" style="text-decoration:underline;color:white !important;" sty>{{ block.settings.card_title_2 }}</h3>
              </div>
            </div>
          </a>
        {% else %}
          <div class="pau-cwi-item">
            <div class="pau-cwi-item-image-wrapper back-img-wrapper">
              <picture class="picture-wrapper">
                <img class="back-img pau-cwi-item-image" alt="" loading="lazy" src="{{ block.settings.card_logo_2 | image_url }}">
              </picture>
            </div>
            <div class="pau-cwi-item-title-wrapper">
              <h3 class="pau-cwi-item-title">{{ block.settings.card_title_2 }}</h3>
            </div>
          </div>
        {% endif %}

        <!-- Casilla 3 -->
        {% if block.settings.tabs3_url != blank %}
          <a href="{{ block.settings.card_url_3 }}" target="_blank" style="display:flex;align-items:center;flex-direction:column;width:calc(var(--total-percent-item-width) / var(--columns));"> 
            <div class="pau-cwi-item" style="height: 283.5px;">
              <div class="pau-cwi-item-image-wrapper back-img-wrapper">
                <picture class="picture-wrapper">
                  <img class="back-img pau-cwi-item-image" alt="" loading="lazy" src="{{ block.settings.card_logo_3 | image_url }}">
                </picture>
              </div>
              <div class="pau-cwi-item-title-wrapper">
                <h3 class="pau-cwi-item-title" style="text-decoration:underline;">{{ block.settings.card_title_3 }}</h3>
              </div>
            </div>
          </a>
        {% elsif block.settings.tabs3_url_background != blank %}
          <a href="{{ block.settings.card_url_3 }}" target="_blank" style="display:flex;align-items:center;flex-direction:column;width:calc(var(--total-percent-item-width) / var(--columns));"> 
            <div class="pau-cwi-item" style="height: 283.5px; background-image: url('{{ block.settings.card_logo_3 | image_url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;padding:0 !important;justify-content:end;">
              <div class="pau-cwi-item-title-wrapper_background">
                <h3 class="pau-cwi-item-title" style="text-decoration:underline;color:white !important;">{{ block.settings.card_title_3 }}</h3>
              </div>
            </div>
          </a>
        {% else %}
          <div class="pau-cwi-item">
            <div class="pau-cwi-item-image-wrapper back-img-wrapper">
              <picture class="picture-wrapper">
                <img class="back-img pau-cwi-item-image" alt="" loading="lazy" src="{{ block.settings.card_logo_3 | image_url }}">
              </picture>
            </div>
            <div class="pau-cwi-item-title-wrapper">
              <h3 class="pau-cwi-item-title">{{ block.settings.card_title_3 }}</h3>
            </div>
          </div>
        {% endif %}
      </div> 
    </div>
  </div>
{%- endif -%}


            
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{%- schema -%}
  {
    "name": "Hallazgos - Pestañas",
    "tag": "section",
    "class": "ings-h-section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Texto"
      },
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Pestaña",
        "settings": [
          {
            "type": "checkbox",
            "label": "Habilitar formulario?",
            "id": "form_check"
          },
          {
            "type": "checkbox",
            "label": "Habilitar casillas de webinars y clases?",
            "id": "tabs_check"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Título de la pestaña"
          },
          {
            "type": "richtext",
            "id": "tab_description",
            "label": "Breve descripción de la pestaña",
            "default": "<p></p>"
          },
          {
            "type": "text",
            "id": "articles_heading",
            "label": "Título de los artículos",
            "default": "Hallazgos Schär"
          },
          {
            "type":"header",
            "content":"Artículo 1",
          },
          {
            "type":"image_picker",
            "id":"article_img_1",
            "label":"Imagen 1",
          },
          {
            "type": "richtext",
            "id": "article_text_1",
            "label": "Texto 1"
          },
          {
            "type": "url",
            "id": "article_link_1",
            "label": "Enlace 1"
          },
          {
            "type":"header",
            "content":"Artículo 2",
          },
          {
            "type":"image_picker",
            "id":"article_img_2",
            "label":"Imagen 2",
          },
          {
            "type": "richtext",
            "id": "article_text_2",
            "label": "Texto 2"
          },
          {
            "type": "url",
            "id": "article_link_2",
            "label": "Enlace 2"
          },
          {
            "type":"header",
            "content":"Artículo 3",
          },
          {
            "type":"image_picker",
            "id":"article_img_3",
            "label":"Imagen 3",
          },
          {
            "type": "richtext",
            "id": "article_text_3",
            "label": "Texto 3"
          },
          {
            "type": "url",
            "id": "article_link_3",
            "label": "Enlace 3"
          },
          {
            "type":"header",
            "content":"Artículo 4",
          },
          {
            "type":"image_picker",
            "id":"article_img_4",
            "label":"Imagen 4",
          },
          {
            "type": "richtext",
            "id": "article_text_4",
            "label": "Texto 4"
          },
          {
            "type": "url",
            "id": "article_link_4",
            "label": "Enlace 4"
          },
          {
            "type":"header",
            "content":"Artículo 5",
          },
          {
            "type":"image_picker",
            "id":"article_img_5",
            "label":"Imagen 5",
          },
          {
            "type": "richtext",
            "id": "article_text_5",
            "label": "Texto 5"
          },
          {
            "type": "url",
            "id": "article_link_5",
            "label": "Enlace 5"
          },
          {
            "type":"header",
            "content":"Artículo 6",
          },
          {
            "type":"image_picker",
            "id":"article_img_6",
            "label":"Imagen 6",
          },
          {
            "type": "richtext",
            "id": "article_text_6",
            "label": "Texto 6"
          },
          {
            "type": "url",
            "id": "article_link_6",
            "label": "Enlace 6"
          },
          {
            "type":"header",
            "content":"Artículo 7",
          },
          {
            "type":"image_picker",
            "id":"article_img_7",
            "label":"Imagen 7",
          },
          {
            "type": "richtext",
            "id": "article_text_7",
            "label": "Texto 7"
          },
          {
            "type": "url",
            "id": "article_link_7",
            "label": "Enlace 7"
          },
          {
            "type":"header",
            "content":"Artículo 8",
          },
          {
            "type":"image_picker",
            "id":"article_img_8",
            "label":"Imagen 8",
          },
          {
            "type": "richtext",
            "id": "article_text_8",
            "label": "Texto 8"
          },
          {
            "type": "url",
            "id": "article_link_8",
            "label": "Enlace 8"
          },
          {
            "type":"header",
            "content":"Artículo 9",
          },
          {
            "type":"image_picker",
            "id":"article_img_9",
            "label":"Imagen 9",
          },
          {
            "type": "richtext",
            "id": "article_text_9",
            "label": "Texto 9"
          },
          {
            "type": "url",
            "id": "article_link_9",
            "label": "Enlace 9"
          },
          {
            "type":"header",
            "content":"Artículo 10",
          },
          {
            "type":"image_picker",
            "id":"article_img_10",
            "label":"Imagen 10",
          },
          {
            "type": "richtext",
            "id": "article_text_10",
            "label": "Texto 10"
          },
          {
            "type": "url",
            "id": "article_link_10",
            "label": "Enlace 10"
          },
          {
            "type":"header",
            "content":"Artículo 11",
          },
          {
            "type":"image_picker",
            "id":"article_img_11",
            "label":"Imagen 11",
          },
          {
            "type": "richtext",
            "id": "article_text_11",
            "label": "Texto 11"
          },
          {
            "type": "url",
            "id": "article_link_11",
            "label": "Enlace 11"
          },
          {
            "type":"header",
            "content":"Artículo 12",
          },
          {
            "type":"image_picker",
            "id":"article_img_12",
            "label":"Imagen 12",
          },
          {
            "type": "richtext",
            "id": "article_text_12",
            "label": "Texto 12"
          },
          {
            "type": "url",
            "id": "article_link_12",
            "label": "Enlace 12"
          },
          {
            "type":"header",
            "content":"Artículo 13",
          },
          {
            "type":"image_picker",
            "id":"article_img_13",
            "label":"Imagen 13",
          },
          {
            "type": "richtext",
            "id": "article_text_13",
            "label": "Texto 13"
          },
          {
            "type": "url",
            "id": "article_link_13",
            "label": "Enlace 13"
          },
          {
            "type":"header",
            "content":"Artículo 14",
          },
          {
            "type":"image_picker",
            "id":"article_img_14",
            "label":"Imagen 14",
          },
          {
            "type": "richtext",
            "id": "article_text_14",
            "label": "Texto 14"
          },
          {
            "type": "url",
            "id": "article_link_14",
            "label": "Enlace 14"
          },
          {
            "type":"header",
            "content":"Artículo 15",
          },
          {
            "type":"image_picker",
            "id":"article_img_15",
            "label":"Imagen 15",
          },
          {
            "type": "richtext",
            "id": "article_text_15",
            "label": "Texto 15"
          },
          {
            "type": "url",
            "id": "article_link_15",
            "label": "Enlace 15"
          },
          {
            "type":"header",
            "content":"Artículo 16",
          },
          {
            "type":"image_picker",
            "id":"article_img_16",
            "label":"Imagen 16",
          },
          {
            "type": "richtext",
            "id": "article_text_16",
            "label": "Texto 16"
          },
          {
            "type": "url",
            "id": "article_link_16",
            "label": "Enlace 16"
          },
          {
            "type":"header",
            "content":"Artículo 17",
          },
          {
            "type":"image_picker",
            "id":"article_img_17",
            "label":"Imagen 17",
          },
          {
            "type": "richtext",
            "id": "article_text_17",
            "label": "Texto 17"
          },
          {
            "type": "url",
            "id": "article_link_17",
            "label": "Enlace 17"
          },
          {
            "type":"header",
            "content":"Artículo 18",
          },
          {
            "type":"image_picker",
            "id":"article_img_18",
            "label":"Imagen 18",
          },
          {
            "type": "richtext",
            "id": "article_text_18",
            "label": "Texto 18"
          },
          {
            "type": "url",
            "id": "article_link_18",
            "label": "Enlace 18"
          },
          {
            "type":"header",
            "content":"Artículo 19",
          },
          {
            "type":"image_picker",
            "id":"article_img_19",
            "label":"Imagen 19",
          },
          {
            "type": "richtext",
            "id": "article_text_19",
            "label": "Texto 19"
          },
          {
            "type": "url",
            "id": "article_link_19",
            "label": "Enlace 19"
          },
          {
            "type":"header",
            "content":"Artículo 20",
          },
          {
            "type":"image_picker",
            "id":"article_img_20",
            "label":"Imagen 20",
          },
          {
            "type": "richtext",
            "id": "article_text_20",
            "label": "Texto 20"
          },
          {
            "type": "url",
            "id": "article_link_20",
            "label": "Enlace 20"
          },
          {
			"type": "header",
			"content": "Contenido del formulario"
		},
		{
			"type": "inline_richtext",
			"id": "form_title_text",
			"label": "Título"
		},
		{
			"type": "inline_richtext",
			"id": "text_form",
			"label": "Texto"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Imagen"
		},
		{
			"type": "header",
			"content": "Formulario"
		},
		{
			"type": "text",
			"id": "form_title",
			"label": "Título"
		},
        {
          "type": "checkbox",
          "label": "¿Activar enlace al titulo?",
          "id": "form_title_url_check"
        },
        {
          "type": "url",
          "id": "form_title_url_1",
          "label": "Enlace del titulo"
        },
        {
          "type": "url",
          "id": "form_title_url_2",
          "label": "Enlace del titulo"
        },
        {
            "type": "header",
            "content": "Casillas"
          },
          {
            "type": "text",
            "label": "Titulo",
            "id": "title_tabs",
            "default": "Webinars y clases"
          },
          {
            "type": "text",
            "label": "Texto",
            "id": "text_tabs",
            "default": "Te acompañamos en este viaje de aprendizaje."
          },
          {
            "type": "image_picker",
            "id": "card_logo_1",
            "label": "Logo"
          },
          {
            "type": "header",
            "content": "Contenido casilla 1"
          },
          {
            "type": "text",
            "id": "card_title_1",
            "label": "Título"
          },
          {
            "type": "checkbox",
            "label": "Activar enlace",
            "id": "tabs1_url"
          },
          {
            "type": "checkbox",
            "label": "Activar casilla con imagen de fondo (Desactivar el check de arriba)",
            "id": "tabs1_url_background"
          },
          {
            "type": "url",
            "label": "URL de la casilla",
            "id": "card_url_1"
          },
          
          {
            "type": "header",
            "content": "Casilla 2"
          },
          {
            "type": "image_picker",
            "id": "card_logo_2",
            "label": "Logo"
          },
          {
            "type": "header",
            "content": "Contenido casilla 2"
          },
          {
            "type": "text",
            "id": "card_title_2",
            "label": "Título"
          },
          {
            "type": "checkbox",
            "label": "Activar enlace",
            "id": "tabs2_url"
          },
          {
            "type": "checkbox",
            "id": "tabs2_url_background",
            "label": "Activar casilla con imagen de fondo (Desactivar el check de arriba)"
          },
          {
            "type": "url",
            "label": "URL de la casilla",
            "id": "card_url_2"
          },
          
          {
            "type": "header",
            "content": "Casilla 3"
          },
          {
            "type": "image_picker",
            "id": "card_logo_3",
            "label": "Logo"
          },
          {
            "type": "header",
            "content": "Contenido casilla 3"
          },
          {
            "type": "text",
            "id": "card_title_3",
            "label": "Título"
          },
          {
            "type": "checkbox",
            "label": "Activar enlace",
            "id": "tabs3_url"
          },
          {
            "type": "checkbox",
            "id": "tabs3_url_background",
            "label": "Activar casilla con imagen de fondo (Desactivar el check de arriba)"
          },
          {
            "type": "url",
            "label": "URL de la casilla",
            "id": "card_url_3"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hallazgos - Pestañas",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}



<style>

/* ===========================================
   Estilos principales para iOS/Safari
=========================================== */
.iwf {
  position: relative; /* necesario para márgenes negativos */
  margin-top: -65px !important;
  padding-top: 0 !important;
}

@media (max-width: 680px) {
  .iwf {
    margin-top: 85px !important;
    padding-top: 0 !important;
  }
}

/* Contenedores de imágenes/formularios */
.iwf-image-form,
.iwf-form-wrapper-form,
.iwf-image-wrapper-form {
  position: relative !important; /* reemplaza unset */
  overflow: visible !important;   /* reemplaza unset */
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  height: auto;
}

.iwf-form-button {
  margin-top: 15px;
}

.iwf-image-wrapper-form {
  padding: 50px;
}

/* Ajuste de la imagen dentro del wrapper */
.iwf-image-wrapper-form img {
  margin-left: -35px; /* quitar márgenes negativos problemáticos en Safari */
  height: 320px;
  max-width: 100%;
  object-fit: contain; /* asegura que no se sobreponga el texto */
}

/* Títulos con borde redondeado */
.pau-cwi-item-title-wrapper_background {
  width: 100%;
  background: #2C1A0E;
  position: relative;
  height: 40px;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1439px) {
  .pau-cwi-item-title-wrapper_background {
    border-radius: 0 0 10px 10px;
  }
}

/* ===========================================
   Ajustes solo para Safari/iOS
=========================================== */
@supports (-webkit-touch-callout: none) {
  /* Corrige márgenes negativos en iPhone */
  .iwf-image-wrapper-form img {
    margin-left: 0 !important;
  }

  /* Ajuste extra para textos sobre imágenes */
  .ings-h-article-text {
    z-index: 2;
    position: relative;
  }

  /* Evita que se peguen bloques */
  .iwf {
    margin-top: -30px !important;
  }
}


</style>
