{%- liquid 
  assign title = section.settings.title
  assign text = section.settings.text
  assign text_2 = section.settings.text_2
-%}

{{- "css-page-origen-cards-with-texts-blue.css" | asset_url | stylesheet_tag -}}
<script defer src="{{- 'js-page-origen-cards-with-texts-blue.js' | asset_url -}}"></script>

<div class="pau-cwt-blue-container" data-section-id="{{- section.id -}}" data-section-type="pau-cards-with-texts">

  <div class="pau-cwt-blue-content">

    {%- if title != blank or text != blank -%}
      <div class="pau-cwt-blue-header">
        {%- if title != blank -%}
          <header class="pau-cwt-blue-header-title-wrapper">
            <h2 class="pau-cwt-blue-header-title section-title-richtext">{{ title }}</h2>
          </header>
        {%- endif -%}

        {%- if text != blank -%}
          <div class="pau-cwt-blue-header-text-wrapper">
            <p class="pau-cwt-blue-header-text">{{ text }}</p>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="pau-cwt-blue-items-wrapper">
      <div class="pau-cwt-blue-items">
  
        {%- for block in section.blocks -%}
  
          {%- liquid 
            assign card_title = block.settings.card_title
            assign card_text = block.settings.card_text
          -%}
  
          <div class="pau-cwt-blue-item">
  
            <div class="pau-cwt-blue-item-title-wrapper">
              {%- if card_title != blank -%}
                <h3 class="pau-cwt-blue-item-title">{{ card_title }}</h3>
              {%- endif -%}
            </div>
  
            {%- if card_text != blank -%}
              <div class="pau-cwt-blue-item-text-wrapper">
                <p class="pau-cwt-blue-item-text">{{ card_text }}</p>
              </div>
            {%- endif -%}
  
          </div>
  
        {%- endfor -%}
  
      </div>
      {%- if text_2 != blank -%}
        <div class="pau-cwt-blue-header-text-2">{{ text_2 }}</div>
      {%- endif -%}
    </div>


  </div>

</div>

{%- schema -%}
  {
    "name": "Origen - T/Textos",
    "tag": "section",
    "class": "pau-cwt-blue",
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "Contenido"
      },
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Título"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Texto 2"
      }
    ],
    "blocks": [
      {
        "name": "Tarjeta",
        "type": "card",
        "settings": [
          {
            "type": "header",
            "content": "Contenido"
          },
          {
            "type": "text",
            "id": "card_title",
            "label": "Título"
          },
          {
            "type": "text",
            "id": "card_text",
            "label": "Texto"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Origen - T/Textos",
        "category": "About us"
      }
    ]
  }
{% endschema %}
